.rightbarFriend{

    display: flex;
    padding: 15px;
    // margin-bottom: 15px;
    align-items: center;
    cursor: pointer;

    .rightbarProfileImgContainer{

        margin-right: 10px;
        position: relative;

        .rightbarProfileImg{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            // justify-content: space-between;
        }
        
        .rightbarOnline{
            position: absolute;
            background-color: limegreen;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            top: -6px;
            right: -6px;
            border: 2px solid white;
        }
    }

    .rightbarUsername{
        font-weight: 500;
        color: #333;
    }
}